DATABASE_URL=postgresql://pbos:pbos@localhost:5432/pbos
PORT=3000
FFMPEG_PATH=ffmpeg
RTSP_INTERVAL=60
NODE_ENV=development
JWT_SECRET=jwt_example_secret ## 변경 필수
FFMPEG_PATH=ffmpeg
RTSP_INTERVAL=120
RTSP_BATCH_SIZE=20
RTSP_CYCLE_DELAY_MS=10000
FFMPEG_TIMEOUT_MS=10000
STATS_TRUNCATE_TABLES=rawdata,tb_lot_status # CRON으로 초기화할 
STATS_TRUNCATE_CRON=0 10 0 * * * # 매일 00시 05분
STATS_BACKUP_CRON=0 2 0 * * * # 매일 02시 30분
STATS_BACKUP_DIR=db_backups # 백업 파일 저장 디렉토리
STATS_BACKUP_KEEP=7 # 최신 N개만 유지